/* Styles for the header */
.header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Styles for the navigation */
.navbar ul {
    list-style: none;
    padding: 0;
}

.navbar ul li {
    display: inline;
    margin-right: 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Styles for the main section */
.main-content {
    position: relative;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.main-content::before {
    content: "";
    background-image: url('greybost.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7; /* Adjust the opacity as needed (0.0 to 1.0) */
    z-index: -1; /* Position the pseudo-element behind the content */
}

/* Styles for the footer */
.footer {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 0px;
}
/* Styles for individual service items */
#financial-planning.common-styling,
#business-planning.common-styling,
#tax-planning.common-styling,
#investment-management.common-styling {
    /* Common styles for all service items */
    font-weight: bold;
}
.logo {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.bio-image {
    width: 100px; 
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Add spacing between the image and text */
    float: left; /* Float the images to the left of the text */
    /* Add any other desired styles */
}
.image-container {
    display: flex;
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
}

.large-photo {
    width: 50%;
    height: 100%;
    display: block;
    /* Any other styles */
}

